html,body{
  height:100vh;
}
body {
  margin: 0;
  font-family: 'Libre Baskerville',serif ;
  font-size:14px;
  line-height: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height:100%;
}